<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опросник</title>
    <link rel="stylesheet" href="quest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <div class="container"> -->
        <div class="b1">
            <div class="header">
                <div id="menu" class="container">
                    <ul>
                        <img src="Опрос2.png" width="174" height="83" alt="" class="logo">
                        <li><a href="index2.html" accesskey="2" title="">Вопросы</a></li>
                        <li><a href="index3.html" accesskey="3" title="">Ответы</a></li>
                        <img src="Vector.png" width="60" height="60" alt="" style="float:right; margin: 30px 0px 0px 10px" >
                    </ul>
                </div>
            </div>
            <div class="rectangle">
                <div class="block1">
                    <p>Тема опроса</p>
                    <span>Создать опрос</span>
                </div>
                <div class="block2">
                    <p>Вопрос <span>*</span></p>
                    <div class="answer"><input type="text" placeholder="Ответ"></div>
                    <select id="selcolor">
                        <option> <img style="vertical-align: middle; width: 20px;" src="1.png" alt="" />Один из списка</option>
                        <option value="Текст1">Текст</option>
                    </select>
                    <label class="checkbox-google">
                        <input type="checkbox">
                        <span class="checkbox-google-switch"><p>Обязательный вопрос</p></span>
                    </label>
                    <button><img src="3.png" alt="Кнопка «button»">Отправить</button>
                   
                </div>
                <div><button name="Добавить вопрос" value="Добавить вопрос">
                    <img style="vertical-align: middle; width: 20px;" src="плюс.png" alt="" />
                   Добавить вопрос
                    </button>  
                    </div>
                                                                                                                                                                     </div>    
                <div>
                   
                       
             
                       
                </div>
            <!-- </div> -->
        </div>
   
</body>
</html>